* {
    font-family: "Manrope", sans-serif;
}
.menubar {
    display: none !important;
}
@media screen and (max-width: 576px) {
    .position  {
        top: 200px;
        left: 50px;
    }
    .responsive-client {
        top: 0;
        left: 0;
    }
    .meet {
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
        gap: 80px;
        padding: 40px 0;
    }
    .cards {
        width: 100%;
        margin: 0 auto;
        top: 150px;
        left: 5px;
    }
    .cards2, .footer {
        width: 90%;
        margin: 0 auto;
    }
    .menubar {
    display: block !important;
    }
    .menus {
        display: none !important;
    }
}